@charset "UTF-8";

.container {
	position: relative;
	width: 50%;
}

.container-selectImg {
	position: relative;
	width: 100%;
}

.container-order {
	background-color: #f2f2f2;
	padding: 40px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	margin-bottom: 20px;
}
.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.img-item {
	/* 	width: 100%; */
	
}

.opacity-div {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.card-header {
	max-width: 100%;
	height: auto !important;
	padding-top : calc(300 / 1000 * 100 %);
	padding-bottom: calc(300/1000 * 100);
}

.pdt-header:hover img {
	opacity: 0.5;
}

.pdt-header:hover .opacity-div {
	opacity: 1;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

@media ( min-width :0px) {
	.card-header {
		flex-direction: column;
	}
}

@media ( min-width :1200px) {
	.card-header {
		flex-direction: row;
	}
}