<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahng.mapper.ProductMapper">

	<select id="getList" resultType="com.ahng.domain.ProductVO">
		SELECT * FROM product AS A left
		OUTER JOIN product_attach AS B ON A.pno = B.pno where B.sequence = 0
		or B.uuid is null
	</select>

	<insert id="insert">
		<selectKey keyProperty="pno" order="BEFORE"
			resultType="long">
			select max(pno)+1 from product
		</selectKey>
		insert into product(pno, name, price, category, title, descript)
		values(#{pno}, #{name},
		#{price}, #{category}, #{title}, #{descript})
	</insert>

	<select id="read" resultType="com.ahng.domain.ProductVO">
		select * from product where pno =
		#{pno}
	</select>

	<update id="update">
		update product
		set name = #{name}, price = #{price},
		category = #{category}, title =
		#{title}, descript = #{descript},
		uptodate = now()
		where pno = #{pno}
	</update>

	<delete id="delete">
		delete from product where pno = #{pno}
	</delete>


</mapper>