<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahng.mapper.ProductAttachMapper">

	<insert id="insert">
		insert into product_attach(uuid, uploadpath, filename, filetype, pno, sequence)
		values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{pno}, #{sequence})
	</insert>

	<delete id="delete">
		delete from product_attach where uuid = #{uuid}
	</delete>
	
	<delete id="deleteAll">
		delete from product_attach where pno = #{pno}
	</delete>
	
	<select id="findByPno" resultType="com.ahng.domain.ProductAttachVO">
		select * from product_attach where pno = #{pno} order by sequence
	</select>

</mapper>